body{
    margin:10px;
    padding:20px;
    overflow:scroll;
    height:auto;
    background-color:white;
    display:block;
}

.navigation{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: white;
    line-height: fit-content;
}
.left-navigation{
    margin-left:0px;
    margin-right:auto;
}
.right-navigation{
    display:flex;
    margin-right:0px;
    margin-left:auto;
}
a{color:black;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

a:hover{
    font-style:italic;
}

.orange{
    color:#f0be74
}

.text{color:white;
font-size:20px;
font-weight:bold;
font-style:italic;
text-align: center;
margin-top:50%;
transform: translateY(-50%);
}

.column {
    float: left;
    width: 33.33%;
    display: none; 
    border-radius:50%;
    }


    

    .row {
    margin: 8px -16px;
    }
      
    /* Add padding BETWEEN each column (if you want) */
    .row,
    .row > .column {
    padding: 8px;
    }
      
    /* Create three equal columns that floats next to each other */
    
      
   
    /* Content */
    .content {
    background-color: white;
    padding: 10px;
    }
      
    /* The "show" class is added to the filtered elements */
    .show {
    display: block;
    }
      
.btn {
    width:180px;
    height:180px;
    border: none;
    outline: none;
    padding: 0px 0px;
    background-color: black;
    cursor: pointer; 
    border-radius:50%;
}

.btn:hover {
    transform:scale(1.5);
}
.btn.active {
    border:solid yellow 2px;
}
    
   